# Homework 1. Exploratory Data Analysis

Due: Thursday, September 18, 2014 11:59 PM

<a href=https://raw.githubusercontent.com/cs109/2014/master/homework/HW1.ipynb download=HW1.ipynb> Download this assignment</a>

---

## Using Python 3

In [1]:
import sys
print(sys.version)

3.6.1 |Anaconda 4.4.0 (64-bit)| (default, May 11 2017, 13:09:58)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)]

## Introduction

In this homework we ask you three questions that we expect you to answer using data. For each question we ask you to complete a series of tasks that should help guide you through the data analysis. Complete these tasks and then write a short (100 words or less) answer to the question.

**Note**: We will briefly discuss this homework assignment on Thursday in class.

#### Data
For this assignment we will use two databases: 

1. The [Sean Lahman's Baseball Database](http://seanlahman.com/baseball-archive/statistics) which contains the "complete batting and pitching statistics from 1871 to 2013, plus fielding statistics, standings, team stats, managerial records, post-season data, and more. For more details on the latest release, please [read the documentation](http://seanlahman.com/files/database/readme2012.txt)."

2. [Gapminder](http://www.gapminder.org) is a great resource that contains over [500 data sets](http://www.gapminder.org/data/) related to world indicators such as income, GDP and life expectancy. 


#### Purpose

In this assignment, you will learn how to: 

a. Load in CSV files from the web. 

b. Create functions in python. 

C. Create plots and summary statistics for exploratory data analysis such as histograms, boxplots and scatter plots. 


#### Useful libraries for this assignment 

* [numpy](http://docs.scipy.org/doc/numpy-dev/user/index.html), for arrays
* [pandas](http://pandas.pydata.org/), for data frames
* [matplotlib](http://matplotlib.org/), for plotting

---

In [24]:
# special IPython command to prepare the notebook for matplotlib
%matplotlib inline 

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)

## Problem 1

In Lecture 1, we showed a plot that provided evidence that the 2002 and 2003 Oakland A's, a team that used data science, had a competitive advantage. Since, others teams have started using data science as well. Use exploratory data analysis to determine if the competitive advantage has since disappeared.

#### Problem 1(a) 
Load in [these CSV files](http://seanlahman.com/files/database/lahman-csv_2014-02-14.zip) from [Sean Lahman's Baseball Database](http://seanlahman.com/baseball-archive/statistics). For this assignment, we will use the 'Salaries.csv' and 'Teams.csv' tables. Read these tables into a pandas `DataFrame` and show the head of each table. 

**Hint** Use the [requests](http://docs.python-requests.org/en/latest/), [StringIO](http://docs.python.org/2/library/stringio.html) and [zipfile](https://docs.python.org/2/library/zipfile.html) modules to get from the web.

In [21]:
#your code here
import requests, zipfile, io

r = requests.get('http://seanlahman.com/files/database/lahman-csv_2014-02-14.zip')
# BytesIO reads the stream of r.content into a buffer
# saves me from having to save r.content as a file and reloading it
# z is a zipfile.ZipFile object
z = zipfile.ZipFile(io.BytesIO(r.content))
# extract into 'data' subfolder
z.extractall('data')

In [22]:
z.infolist()

[<ZipInfo filename='SchoolsPlayers.csv' compress_type=deflate external_attr=0x20 file_size=180758 compress_size=58523>,
 <ZipInfo filename='SeriesPost.csv' compress_type=deflate external_attr=0x20 file_size=8883 compress_size=1924>,
 <ZipInfo filename='Teams.csv' compress_type=deflate external_attr=0x20 file_size=537313 compress_size=173874>,
 <ZipInfo filename='TeamsFranchises.csv' compress_type=deflate external_attr=0x20 file_size=3359 compress_size=1381>,
 <ZipInfo filename='TeamsHalf.csv' compress_type=deflate external_attr=0x20 file_size=1609 compress_size=510>,
 <ZipInfo filename='AllstarFull.csv' compress_type=deflate external_attr=0x20 file_size=201742 compress_size=32349>,
 <ZipInfo filename='Appearances.csv' compress_type=deflate external_attr=0x20 file_size=5816593 compress_size=1369431>,
 <ZipInfo filename='AwardsManagers.csv' compress_type=deflate external_attr=0x20 file_size=7736 compress_size=1193>,
 <ZipInfo filename='AwardsPlayers.csv' compress_type=deflate external_attr=0x20 file_size=242812 compress_size=34221>,
 <ZipInfo filename='AwardsShareManagers.csv' compress_type=deflate external_attr=0x20 file_size=16878 compress_size=3017>,
 <ZipInfo filename='AwardsSharePlayers.csv' compress_type=deflate external_attr=0x20 file_size=222952 compress_size=45973>,
 <ZipInfo filename='Batting.csv' compress_type=deflate external_attr=0x20 file_size=6575933 compress_size=1931003>,
 <ZipInfo filename='BattingPost.csv' compress_type=deflate external_attr=0x20 file_size=667200 compress_size=121754>,
 <ZipInfo filename='Fielding.csv' compress_type=deflate external_attr=0x20 file_size=8277996 compress_size=2230300>,
 <ZipInfo filename='FieldingOF.csv' compress_type=deflate external_attr=0x20 file_size=298470 compress_size=75637>,
 <ZipInfo filename='FieldingPost.csv' compress_type=deflate external_attr=0x20 file_size=592854 compress_size=125638>,
 <ZipInfo filename='HallOfFame.csv' compress_type=deflate external_attr=0x20 file_size=173639 compress_size=25438>,
 <ZipInfo filename='Managers.csv' compress_type=deflate external_attr=0x20 file_size=128621 compress_size=33130>,
 <ZipInfo filename='ManagersHalf.csv' compress_type=deflate external_attr=0x20 file_size=3568 compress_size=1209>,
 <ZipInfo filename='Master.csv' compress_type=deflate external_attr=0x20 file_size=2422909 compress_size=869812>,
 <ZipInfo filename='Pitching.csv' compress_type=deflate external_attr=0x20 file_size=3668051 compress_size=1234153>,
 <ZipInfo filename='PitchingPost.csv' compress_type=deflate external_attr=0x20 file_size=395011 compress_size=94620>,
 <ZipInfo filename='readme2013.txt' compress_type=deflate external_attr=0x20 file_size=30296 compress_size=8504>,
 <ZipInfo filename='Salaries.csv' compress_type=deflate external_attr=0x20 file_size=724954 compress_size=149788>,
 <ZipInfo filename='Schools.csv' compress_type=deflate external_attr=0x20 file_size=42933 compress_size=14742>]

In [23]:
%%bash
ls data

AllstarFull.csv
Appearances.csv
AwardsManagers.csv
AwardsPlayers.csv
AwardsShareManagers.csv
AwardsSharePlayers.csv
Batting.csv
BattingPost.csv
Fielding.csv
FieldingOF.csv
FieldingPost.csv
HallOfFame.csv
Managers.csv
ManagersHalf.csv
Master.csv
Pitching.csv
PitchingPost.csv
readme2013.txt
Salaries.csv
Schools.csv
SchoolsPlayers.csv
SeriesPost.csv
Teams.csv
TeamsFranchises.csv
TeamsHalf.csv

In [25]:
salaries = pd.read_csv(os.path.join('data', 'Salaries.csv'))
salaries.head()

   yearID teamID lgID   playerID   salary
0    1985    BAL   AL  murraed02  1472819
1    1985    BAL   AL   lynnfr01  1090000
2    1985    BAL   AL  ripkeca01   800000
3    1985    BAL   AL   lacyle01   725000
4    1985    BAL   AL  flanami01   641667

In [26]:
teams = pd.read_csv(os.path.join('data', 'Teams.csv'))
teams.head()

   yearID lgID teamID franchID divID  Rank   G  Ghome   W   L DivWin WCWin LgWin WSWin    R    AB    H  2B  3B  HR  BB    SO    SB  CS  HBP  SF   RA   ER   ERA  CG  SHO  SV  IPouts   HA  HRA  BBA  SOA    E  DP    FP                     name                      park  attendance  BPF  PPF teamIDBR teamIDlahman45 teamIDretro
0    1871  NaN    PH1      PNA   NaN     1  28    NaN  21   7    NaN   NaN     Y   NaN  376  1281  410  66  27   9  46  23.0  56.0 NaN  NaN NaN  266  137  4.95  27    0   0     747  329    3   53   16  194 NaN  0.84   Philadelphia Athletics  Jefferson Street Grounds         NaN  102   98      ATH            PH1         PH1
1    1871  NaN    CH1      CNA   NaN     2  28    NaN  19   9    NaN   NaN     N   NaN  302  1196  323  52  21  10  60  22.0  69.0 NaN  NaN NaN  241   77  2.76  25    0   1     753  308    6   28   22  218 NaN  0.82  Chicago White Stockings   Union Base-Ball Grounds         NaN  104  102      CHI            CH1         CH1
2    1871  NaN    BS1      BNA   NaN     3  31    NaN  20  10    NaN   NaN     N   NaN  401  1372  426  70  37   3  60  19.0  73.0 NaN  NaN NaN  303  109  3.55  22    1   3     828  367    2   42   23  225 NaN  0.83     Boston Red Stockings       South End Grounds I         NaN  103   98      BOS            BS1         BS1
3    1871  NaN    WS3      OLY   NaN     4  32    NaN  15  15    NaN   NaN     N   NaN  310  1353  375  54  26   6  48  13.0  48.0 NaN  NaN NaN  303  137  4.37  32    0   0     846  371    4   45   13  217 NaN  0.85      Washington Olympics          Olympics Grounds         NaN   94   98      OLY            WS3         WS3
4    1871  NaN    NY2      NNA   NaN     5  33    NaN  16  17    NaN   NaN     N   NaN  302  1404  403  43  21   1  33  15.0  46.0 NaN  NaN NaN  313  121  3.72  32    1   0     879  373    7   42   22  227 NaN  0.83         New York Mutuals  Union Grounds (Brooklyn)         NaN   90   88      NYU            NY2         NY2

#### Problem 1(b)

Summarize the Salaries DataFrame to show the total salaries for each team for each year. Show the head of the new summarized DataFrame.

In [10]:
#your code here
summed_salaries = salaries.groupby(['yearID', 'teamID']).sum().reset_index()
summed_salaries.head()

   yearID teamID    salary
0    1985    ATL  14807000
1    1985    BAL  11560712
2    1985    BOS  10897560
3    1985    CAL  14427894
4    1985    CHA   9846178

#### Problem 1(c)

Merge the new summarized Salaries DataFrame and Teams DataFrame together to create a new DataFrame
showing wins and total salaries for each team for each year. Show the head of the new merged DataFrame.

**Hint**: Merge the DataFrames using `teamID` and `yearID`.

In [18]:
#your code here
print(f'length before merge: {len(teams)}')
teams_with_salary = pd.merge(teams, summed_salaries, how='inner', on=['yearID', 'teamID'])
print(f'length after merge: {len(teams_with_salary)}')
teams_with_salary.head(10)

length before merge: 2745
length after merge: 828

   yearID lgID teamID franchID divID  Rank    G  Ghome   W    L DivWin WCWin LgWin WSWin    R    AB     H   2B  3B   HR   BB     SO     SB    CS  HBP  SF   RA   ER   ERA  CG  SHO  SV  IPouts    HA  HRA  BBA   SOA    E     DP    FP                name                park  attendance  BPF  PPF teamIDBR teamIDlahman45 teamIDretro    salary
0    1985   AL    TOR      TOR     E     1  161   80.0  99   62      Y   NaN     N     N  759  5508  1482  281  53  158  503  807.0  144.0  77.0  NaN NaN  588  533  3.31  18    9  47    4344  1312  147  484   823  125  164.0  0.98   Toronto Blue Jays  Exhibition Stadium   2468925.0  104  103      TOR            TOR         TOR   8812550
1    1985   AL    NYA      NYY     E     2  161   80.0  97   64      N   NaN     N     N  839  5458  1458  272  31  176  620  771.0  155.0  53.0  NaN NaN  660  590  3.69  25    9  49    4320  1373  157  518   907  123  172.0  0.97    New York Yankees   Yankee Stadium II   2214587.0   98   97      NYY            NYA         NYA  14238204
2    1985   AL    DET      DET     E     3  161   81.0  84   77      N   NaN     N     N  729  5575  1413  254  45  202  526  926.0   75.0  41.0  NaN NaN  688  612  3.78  31   11  40    4368  1313  141  556   943  141  152.0  0.97      Detroit Tigers       Tiger Stadium   2286609.0  100   98      DET            DET         DET  10348143
3    1985   AL    BAL      BAL     E     4  161   81.0  83   78      N   NaN     N     N  818  5517  1451  234  22  214  604  908.0   69.0  43.0  NaN NaN  764  694  4.38  32    6  33    4281  1480  160  568   793  115  168.0  0.98   Baltimore Orioles    Memorial Stadium   2132387.0   97   97      BAL            BAL         BAL  11560712
4    1985   AL    BOS      BOS     E     5  163   81.0  81   81      N   NaN     N     N  800  5720  1615  292  31  162  562  816.0   66.0  27.0  NaN NaN  720  659  4.06  35    8  29    4383  1487  130  540   913  145  161.0  0.97      Boston Red Sox      Fenway Park II   1786633.0  104  104      BOS            BOS         BOS  10897560
5    1985   AL    ML4      MIL     E     6  161   80.0  71   90      N   NaN     N     N  690  5568  1467  250  44  101  462  746.0   69.0  34.0  NaN NaN  802  701  4.39  34    5  37    4311  1510  175  499   777  142  153.0  0.97   Milwaukee Brewers      County Stadium   1360265.0  100  101      MIL            MIL         MIL  11284107
6    1985   AL    CLE      CLE     E     7  162   81.0  60  102      N   NaN     N     N  729  5527  1465  254  31  116  492  817.0  132.0  72.0  NaN NaN  861  775  4.91  24    7  28    4263  1556  170  547   702  141  161.0  0.97   Cleveland Indians   Cleveland Stadium    655181.0   99  100      CLE            CLE         CLE   6551666
7    1985   AL    KCA      KCR     W     1  162   82.0  91   71      Y   NaN     Y     Y  687  5500  1384  261  49  154  473  840.0  128.0  48.0  NaN NaN  639  567  3.49  27   11  41    4383  1433  103  463   846  127  160.0  0.98  Kansas City Royals      Royals Stadium   2162717.0  100  100      KCR            KCA         KCA   9321179
8    1985   AL    CAL      ANA     W     2  162   79.0  90   72      N   NaN     N     N  732  5442  1364  215  31  153  648  902.0  106.0  51.0  NaN NaN  703  633  3.91  22    8  41    4371  1453  171  514   767  112  202.0  0.98   California Angels     Anaheim Stadium   2567427.0  100  100      CAL            CAL         CAL  14427894
9    1985   AL    CHA      CHW     W     3  163   81.0  85   77      N   NaN     N     N  736  5470  1386  247  37  146  471  843.0  108.0  56.0  NaN NaN  720  656  4.07  20    8  39    4353  1411  161  569  1023  111  152.0  0.98   Chicago White Sox       Comiskey Park   1669888.0  104  104      CHW            CHA         CHA   9846178

#### Problem 1(d)

How would you graphically display the relationship between total wins and total salaries for a given year? What kind of plot would be best? Choose a plot to show this relationship and specifically annotate the Oakland baseball team on the on the plot. Show this plot across multiple years. In which years can you detect a competitive advantage from the Oakland baseball team of using data science? When did this end? 

**Hints**: Use a `for` loop to consider multiple years. Use the `teamID` (three letter representation of the team name) to save space on the plot.

** Thought Process: **

* Salaries are continuous and ordered
* Years are discrete and ordered
* We want to see a trend

=> Choose a line graph

In [30]:
#your code here
unique_teams = teams_with_salary['teamID'].unique()
unique_years = teams_with_salary['yearID'].unique()
for x in [unique_teams, unique_years]:
    print(x)
    print(len(x))

['TOR' 'NYA' 'DET' 'BAL' 'BOS' 'ML4' 'CLE' 'KCA' 'CAL' 'CHA' 'MIN' 'OAK'
 'SEA' 'TEX' 'SLN' 'NYN' 'MON' 'CHN' 'PHI' 'PIT' 'LAN' 'CIN' 'HOU' 'SDN'
 'ATL' 'SFN' 'FLO' 'COL' 'ANA' 'TBA' 'MIL' 'ARI' 'LAA' 'WAS' 'MIA']
35
[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999
 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013]
29

In [31]:
# Just plot the Oakland baseball team first, then add other teams onto the figure.
# ssss

#### Problem 1(e):

**For AC209 Students**: Fit a linear regression to the data from each year and obtain the residuals. Plot the residuals against time to detect patterns that support your answer in 1(d).

In [5]:
#your code here

## Discussion for Problem 1

*Write a brief discussion of your conclusions to the questions and tasks above in 100 words or less.*

---

* The grouped salaries was much shorted than the teams dataframe. Need to check why.

## Problem 2

Several media reports have demonstrated the income inequality has increased in the US during this last decade. Here we will look at global data. Use exploratory data analysis to determine if the gap between Africa/Latin America/Asia and Europe/NorthAmerica has increased, decreased or stayed the same during the last two decades.

#### Problem 2(a)

Using the list of countries by continent from [World Atlas](http://www.worldatlas.com/cntycont.htm) data, load in the `countries.csv` file into a pandas DataFrame and name this data set as `countries`.  This data set can be found on Github in the 2014_data repository [here](https://github.com/cs109/2014_data/blob/master/countries.csv).

In [6]:
#your code here

Using the [data available on Gapminder](http://www.gapminder.org/data/), load in the [Income per person (GDP/capita, PPP$ inflation-adjusted)](https://spreadsheets.google.com/pub?key=phAwcNAVuyj1jiMAkmq1iMg&gid=0) as a pandas DataFrame and name this data set as `income`.

**Hint**: Consider using the pandas function `pandas.read_excel()` to read in the .xlsx file directly.

In [7]:
#your code here

Transform the data set to have years as the rows and countries as the columns. Show the head of this data set when it is loaded.

In [8]:
#your code here

#### Problem 2(b)

Graphically display the distribution of income per person across all countries in the world for any given year (e.g. 2000).  What kind of plot would be best?

In [9]:
#your code here

#### Problem 2(c)

Write a function to merge the `countries` and `income` data sets for any given year.

In [ ]:
"""
Function
--------
mergeByYear

Return a merged DataFrame containing the income, 
country name and region for a given year. 

Parameters
----------
year : int
    The year of interest

Returns
-------
a DataFrame
   A pandas DataFrame with three columns titled 
   'Country', 'Region', and 'Income'. 

Example
-------
>>> mergeByYear(2010)
"""
#your code here

#### Problem 2(d) 

Use exploratory data analysis tools such as histograms and boxplots to explore the distribution of the income per person by region data set from 2(c) for a given year. Describe how these change through the recent years?

**Hint**: Use a `for` loop to consider multiple years.

In [11]:
#your code here

## Discussion for Problem 2

*Write a brief discussion of your conclusions to the questions and tasks above in 100 words or less.*

---

## Problem 3

In general, if group A has larger values than group B on average, does this mean the largest values are from group A? Discuss after completing each of the problems below.

#### Problem 3(a)

Assume you have two list of numbers, X and Y, with distribution approximately normal. X and Y have standard deviation equal to 1, but the average of X is different from the average of Y.  If the difference in the average of X and the average of Y is larger than 0, how does the proportion of X > a compare to the proportion of Y > a?

Write a function that analytically calculates the ratio of these two proportions: Pr(X > a)/Pr(Y > a) as function of the difference in the average of X and the average of Y. 

**Hint**: Use the `scipy.stats` module for useful functions related to a normal random variable such as the probability density function, cumulative distribution function and survival function. 

**Update**: Assume Y is normally distributed with mean equal to 0.

Show the curve for different values of a (a = 2,3,4 and 5).

In [ ]:
"""
Function
--------
ratioNormals

Return ratio of these two proportions: 
    Pr(X > a)/Pr(Y > a) as function of 
    the difference in the average of X 
    and the average of Y. 

Parameters
----------
diff : difference in the average of X 
    and the average of Y. 
a : cutoff value

Returns
-------
Returns ratio of these two proportions: 
    Pr(X > a)/Pr(Y > a)
    
Example
-------
>>> ratioNormals(diff = 1, a = 2)
"""
#your code here

In [13]:
#your code here

#### Problem 3(b)

Now consider the distribution of income per person from two regions: Asia and South America. Estimate the average income per person across the countries in those two regions. Which region has the larger average of income per person across the countries in that region? 

**Update**: Use the year 2012.

In [14]:
#your code here

#### Problem 3(c) 

Calculate the proportion of countries with income per person that is greater than 10,000 dollars. Which region has a larger proportion of countries with income per person greater than 10,000 dollars? If the answer here is different from the answer in 3(b), explain why in light of your answer to 3(a).

**Update**: Use the year 2012.

In [15]:
#your code here

#### Problem 3(d)

**For AC209 Students**: Re-run this analysis in Problem 3 but compute the average income per person for each region, instead of the average of the reported incomes per person across countries in the region. Why are these two different? Hint: use this [data set](https://spreadsheets.google.com/pub?key=phAwcNAVuyj0XOoBL_n5tAQ&gid=0).

In [16]:
#your code here

## Discussion for Problem 3

*Write a brief discussion of your conclusions to the questions and tasks above in 100 words or less.*

---